@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
    color: #6482AD;
    position: relative;
    font-size: 7px;
    background: #6482AD;
    animation: escaleY 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
    left: 2em;
    background: #6482AD;
    width: 1em;
    height: 4em;
    animation: escaleY 1s infinite ease-in-out;
}

.loader:before {
    left: -2em;
    animation-delay: -0.32s;
}

@keyframes escaleY {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}



.reuseloader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}